
    .label-password {
        position: relative;
        display: flex;
        align-items: center;
    }

    .input-password {
        width: 100%;
        height: 35px;
        border-radius: 100px;
        text-align: center;
        font-family: 'Arimo';
        font-weight: 400;
        font-size: .8rem;
        padding: 0 40px;

        @media (min-width: 980px) {
            height: 38px;
        }
    }