
    @font-face {
        font-family: 'Drstick';
        src: url('../assets/fonts/Drystick-ExtraBold.ttf');
    }

    @font-face {
        font-family: 'Arimo';
        src: url('../../assets/fonts/Arimo-Bold.ttf');
        font-weight: 700;
        font-style: bold;
    }

    @font-face {
        font-family: 'Arimo';
        src: url('../../assets/fonts/Arimo-Medium.ttf');
        font-weight: 500;
        font-style: medium;
    }

    @font-face {
        font-family: 'Arimo';
        src: url('../../assets/fonts/Arimo-Regular.ttf');
        font-weight: 400;
        font-style: regular;
    }